<table border= "1">
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
</table>


{% if all_students  %}
     <ul>
     {%  for Student in all_students %}
        <li><a href="/studentinfo/{{ Student.id }}/">{{ Student.name }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No Students are in the List.</p>
{% endif %}